### Preprocess

- pid : [pid1, pid2, ...]
- x_dem : demographic
  - [[demo1, demo2, demo3, ... demon], [demo1, demo2, ..., demon]]
- x_per : examination
  - [[[v1-pers], [v2-pers]], [[v1-pers], [v2-pers], [v3-pers]], ... ]
- x_d : prescription
  - [[[v1-pres], [v2-pres]], [[v1-pres], [v2-pres], [v3-pres]], ...]


### Not Used
- vid : [[pid1-vid1, pid1-vid2], [pid2-vid1, pid2-vid2, pid2-vid3]]

In [3]:
import pandas as pd
import pickle as pkl

In [2]:
patient = pd.read_csv('../data/mimic-iii-clinical-database-1.4/PATIENTS.csv')
admission = pd.read_csv('../data/mimic-iii-clinical-database-1.4/ADMISSIONS.csv')
pres = pd.read_csv('../data/mimic-iii-clinical-database-1.4/PRESCRIPTIONS.csv')

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [32]:
## Only for blood pressure
## PH : 1673, 223830
## blood pressure : 220224 (O2), 6631 (low), 6417 (low)
## etc : 227516, 220228(Hemoglobin), 220235 (Co2 Pressure)

### only four dim : 1673, 220224, 6631, 6417, 223830, 220235, 220227

## about 15 minutes
chunksize = 10 ** 8
for idx, chunk in enumerate(pd.read_csv('../data/mimic-iii-clinical-database-1.4/CHARTEVENTS.csv', chunksize=chunksize)):
    if idx == 0:
        exams = chunk[chunk['ITEMID'].isin([1673, 220224, 6631, 6417,223830, 220235, 220227, 220228,
        220235, 226062, 226063, 226482, 14846, 14117, 15021, 12740, 12741, 12742, 12743,
        941,   1011,   1352,   5810,   5811,   5898,   1495,   6204,
        6226,   6304,  40534,   6754,  41857,  42463,  43173,  42119,
        43897,  43931,  43966,  44103,  44132,  44237,  44313,  43348,
        43355,  43365,  43372,  43373,  43380,  43462,  44706,  44911,
        44925,  42810,  44506,  43856,  46532,  44752,  44824,  43589,
        43811,  43812,  46727,  46804,  43987,  44051,  44278,  46180,
        45841,  41922,  43333,  43347,  44684,  44834,  43638,  43654,
        43519,  43537,  42366,  45991, 227471, 220799, 5972, 2781,
        993,   1003,   5575,   1404,   3143,   3210,   2004,   2005,
         5667,   5771,   5786,   1658,   1686,   2025,   2027,   2057,
         2059,   2759,   2779,   8301,   6336,   7124,   7128,   7133,
         7176,   7332,   7504,   7540,   7541,   7574,   7787,   6417,
         6439,   6540,   6631,   6768,   6864,  43744,  46780,  45682,
       226849, 226850, 226851, 226852, 226853, 226857, 226858, 226859,
       220224])]
    else:
        tmp = chunk[chunk['ITEMID'].isin([1673, 220224, 6631, 6417,223830, 220235, 220227, 220228,
        220235, 226062, 226063, 226482, 14846, 14117, 15021, 12740, 12741, 12742, 12743,
        941,   1011,   1352,   5810,   5811,   5898,   1495,   6204,
        6226,   6304,  40534,   6754,  41857,  42463,  43173,  42119,
        43897,  43931,  43966,  44103,  44132,  44237,  44313,  43348,
        43355,  43365,  43372,  43373,  43380,  43462,  44706,  44911,
        44925,  42810,  44506,  43856,  46532,  44752,  44824,  43589,
        43811,  43812,  46727,  46804,  43987,  44051,  44278,  46180,
        45841,  41922,  43333,  43347,  44684,  44834,  43638,  43654,
        43519,  43537,  42366,  45991, 227471, 220799, 5972, 2781,
        993,   1003,   5575,   1404,   3143,   3210,   2004,   2005,
         5667,   5771,   5786,   1658,   1686,   2025,   2027,   2057,
         2059,   2759,   2779,   8301,   6336,   7124,   7128,   7133,
         7176,   7332,   7504,   7540,   7541,   7574,   7787,   6417,
         6439,   6540,   6631,   6768,   6864,  43744,  46780,  45682,
       226849, 226850, 226851, 226852, 226853, 226857, 226858, 226859,
       220224])]
        exams = pd.concat([exams, tmp], axis=0)
    print(idx)

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3364: DtypeWarning: Columns (8,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

0

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3364: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

1

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3364: DtypeWarning: Columns (8,10,14) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

2
3

In [33]:
exams['ITEMID'].value_counts()

223830    144429
220224    140229
220235    140215
220228    137117
220227     40009
227471     17199
226063      4314
226062      4312
1673        1844
1658         901
2059         686
993          310
7574         175
6336          98
1495          82
1404          52
1352          36
6417          32
3143          30
6864          26
3210          24
1003          24
2779          24
5667          18
2027          17
2025          16
6754          15
2005          15
2004          14
5786          12
7332          12
6439          12
6631          10
2057          10
941            9
6768           8
7133           7
7128           4
7504           4
7176           3
5898           2
6204           2
8301           2
7124           2
7787           1
5811           1
5810           1
6540           1
6304           1
7541           1
5771           1
1686           1
6226           1
7540           1
5575           1
1011           1
Name: ITEMID, dtype: int64

In [6]:
with open('./preprocessed/exams_added.pkl', 'wb') as f:
    pkl.dump(exams, f)

### Extract Top 400 Drugs

In [5]:
top400 = pres['FORMULARY_DRUG_CD'].value_counts()[:400].index

In [7]:
with open('./preprocessed/top400drugs.pkl', 'wb') as f:
    pkl.dump(top400, f)

### Get PIDS

In [18]:
patient.head(2)

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1

In [20]:
p_list = patient['SUBJECT_ID'].drop_duplicates().values

In [25]:
## MAP PATIENT IDs w/ Index
p_dict = dict(zip(p_list, list(range(len(p_list)))))

In [30]:
with open('./preprocessed/patient_dictionary.pkl', 'wb') as f:
    pkl.dump(p_dict, f)

In [31]:
with open('./preprocessed/pid.pkl', 'wb') as f:
    pkl.dump(p_list, f)

### Get Demographics

In [40]:
admission.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ADMITTIME', 'DISCHTIME',
       'DEATHTIME', 'ADMISSION_TYPE', 'ADMISSION_LOCATION',
       'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE', 'RELIGION',
       'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS',
       'HOSPITAL_EXPIRE_FLAG', 'HAS_CHARTEVENTS_DATA'],
      dtype='object')

In [41]:
admission_type = admission['ADMISSION_TYPE'].drop_duplicates().values
language = admission['LANGUAGE'].drop_duplicates().values
religion = admission['RELIGION'].drop_duplicates().values
marital_status = admission['MARITAL_STATUS'].drop_duplicates().values
ethnicity = admission['ETHNICITY'].drop_duplicates().values


## MAP FEATURES w/ Index
admission_type_dict = dict(zip(admission_type, list(range(len(admission_type)))))
language_dict = dict(zip(language, list(range(len(language)))))
religion_dict = dict(zip(religion, list(range(len(religion)))))
marital_status_dict = dict(zip(marital_status, list(range(len(marital_status)))))
ethnicity_dict = dict(zip(ethnicity, list(range(len(ethnicity)))))

In [48]:
p_dict[22]

240

In [56]:
x_dem = [[] for x in p_dict]
for idx in range(len(admission)):
    tmp_list = []
    tmp_list.append(admission_type_dict[admission['ADMISSION_TYPE'][idx]])
    tmp_list.append(language_dict[admission['LANGUAGE'][idx]])
    tmp_list.append(religion_dict[admission['RELIGION'][idx]])
    tmp_list.append(marital_status_dict[admission['MARITAL_STATUS'][idx]])
    tmp_list.append(ethnicity_dict[admission['ETHNICITY'][idx]])
    x_dem[p_dict[admission['SUBJECT_ID'][idx]]] = tmp_list

    # if idx % 1000 ==0:
    #     print(idx)

In [59]:
with open('./preprocessed/x_dem.pkl', 'wb') as f:
    pkl.dump(x_dem, f)

### Get Examinations

In [131]:
with open('./preprocessed/x_dem.pkl', 'rb') as f:
    x_dem = pkl.load(f)

In [132]:
x_dem

[[0, 1, 1, 3, 0],
 [0, 13, 3, 1, 3],
 [0, 0, 6, 2, 1],
 [0, 0, 0, 1, 0],
 [0, 0, 1, 4, 0],
 [1, 1, 3, 0, 0],
 [0, 1, 3, 0, 0],
 [0, 0, 1, 4, 0],
 [2, 0, 3, 2, 6],
 [2, 0, 1, 2, 0],
 [0, 0, 6, 0, 0],
 [1, 1, 1, 1, 1],
 [0, 0, 1, 0, 0],
 [2, 0, 4, 2, 0],
 [1, 1, 6, 0, 0],
 [0, 1, 7, 4, 3],
 [0, 1, 5, 0, 14],
 [0, 0, 1, 5, 4],
 [0, 0, 0, 1, 0],
 [1, 0, 7, 0, 1],
 [1, 0, 4, 0, 0],
 [3, 0, 8, 0, 1],
 [0, 1, 3, 1, 3],
 [0, 0, 12, 4, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 4, 0],
 [0, 0, 1, 0, 0],
 [3, 0, 0, 1, 1],
 [0, 1, 1, 1, 0],
 [0, 1, 1, 0, 0],
 [0, 18, 9, 0, 0],
 [0, 1, 4, 0, 0],
 [2, 0, 1, 2, 6],
 [0, 0, 1, 1, 0],
 [2, 0, 3, 2, 0],
 [1, 0, 3, 0, 7],
 [0, 0, 4, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 6, 1, 0, 1],
 [0, 0, 1, 3, 0],
 [0, 0, 0, 1, 0],
 [2, 0, 0, 2, 6],
 [2, 0, 2, 2, 6],
 [0, 0, 1, 1, 0],
 [0, 1, 3, 4, 3],
 [0, 1, 1, 0, 0],
 [2, 0, 1, 2, 0],
 [2, 0, 1, 2, 0],
 [2, 0, 2, 2, 3],
 [0, 0, 1, 0, 1],
 [2, 0, 2, 2, 0],
 [0, 1, 3, 1, 0],
 [0, 1, 4, 1, 0],
 [0, 0, 1, 3, 0],
 [0, 0, 4, 3, 0],
 [0, 0, 0, 0, 0],
 [0, 1, 1, 0, 0],
 [3, 0, 2, 0, 1],
 [0, 0, 0, 2, 6],
 [0, 0, 0, 1, 0],
 [1, 0, 1, 1, 0],
 [0, 0, 0, 2, 1],
 [0, 0, 0, 0, 0],
 [0, 1, 4, 0, 0],
 [0, 0, 1, 0, 0],
 [2, 0, 0, 2, 6],
 [0, 1, 3, 1, 0],
 [1, 1, 1, 4, 0],
 [0, 0, 0, 4, 1],
 [0, 0, 1, 0, 0],
 [0, 0, 4, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 1, 3],
 [0, 1, 2, 0, 0],
 [0, 0, 8, 2, 0],
 [2, 0, 0, 2, 0],
 [0, 0, 4, 0, 0],
 [0, 0, 3, 0, 0],
 [0, 0, 6, 4, 1],
 [0, 0, 6, 0, 0],
 [0, 0, 2, 0, 1],
 [2, 0, 1, 2, 0],
 [1, 1, 2, 1, 0],
 [0, 10, 4, 1, 0],
 [3, 0, 8, 0, 1],
 [0, 0, 1, 0, 0],
 [0, 1, 1, 0, 0],
 [0, 1, 2, 1, 0],
 [2, 0, 0, 1, 13],
 [0, 0, 2, 2, 0],
 [0, 0, 4, 1, 0],
 [0, 0, 1, 0, 1],
 [0, 0, 0, 1, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 3, 0, 0],
 [0, 0, 2, 6, 0],
 [0, 0, 1, 4, 0],
 [0, 0, 1, 0, 0],
 [0, 1, 1, 4, 0],
 [0, 0, 8, 2, 1],
 [3, 0, 1, 0, 0],
 [0, 0, 0, 1, 0],
 [0, 1, 6, 3, 0],
 [0, 0, 1, 3, 0],
 [0, 1, 2, 4, 3],
 [1, 0, 1, 0, 0],
 [3, 1, 2, 0, 0],
 [0, 0, 1, 1, 0],
 [2, 0, 1, 2, 0],
 [2, 0, 0, 2, 0],
 [2, 0, 2, 2, 0],
 [0, 1, 1, 0, 0],
 [2, 0, 0, 2, 7],
 [2, 0, 1, 2, 0],
 [2, 0, 0, 2, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 4, 4, 0],
 [0, 0, 6, 1, 1],
 [0, 0, 1, 0, 1],
 [0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 6, 1, 0, 1],
 [0, 1, 3, 1, 0],
 [0, 0, 1, 4, 1],
 [2, 0, 0, 2, 3],
 [1, 0, 1, 0, 1],
 [0, 0, 6, 1, 0],
 [0, 1, 1, 0, 0],
 [0, 3, 8, 4, 7],
 [0, 0, 3, 0, 0],
 [0, 0, 0, 0, 0],
 [2, 0, 2, 2, 0],
 [0, 0, 10, 3, 0],
 [1, 1, 1, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 10, 3, 3],
 [0, 0, 1, 4, 0],
 [2, 0, 0, 2, 0],
 [2, 0, 0, 2, 1],
 [3, 0, 1, 0, 1],
 [0, 0, 1, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 1, 4, 4, 0],
 [2, 0, 0, 2, 0],
 [3, 1, 9, 4, 0],
 [0, 0, 0, 1, 0],
 [0, 1, 1, 0, 0],
 [0, 1, 1, 0, 0],
 [2, 0, 2, 2, 0],
 [0, 10, 1, 0, 0],
 [2, 0, 3, 2, 0],
 [0, 0, 6, 0, 0],
 [0, 0, 4, 0, 0],
 [0, 6, 3, 1, 4],
 [0, 0, 3, 2, 0],
 [1, 1, 1, 0, 0],
 [0, 1, 1, 0, 4],
 [2, 0, 0, 2, 0],
 [0, 1, 3, 1, 0],
 [0, 0, 1, 0, 1],
 [2, 0, 1, 2, 0],
 [0, 0, 4, 0, 0],
 [1, 0, 4, 0, 1],
 [0, 1, 3, 1, 0],
 [0, 1, 1, 4, 0],
 [2, 0, 0, 2, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 6, 2, 3],
 [0, 1, 1, 0, 0],
 [2, 0, 3, 2, 0],
 [0, 1, 1, 1, 0],
 [0, 0, 0, 2, 1],
 [0, 0, 2, 0, 0],
 [2, 0, 0, 2, 0],
 [0, 0, 4, 1, 0],
 [0, 0, 8, 1, 0],
 [2, 0, 0, 2, 6],
 [2, 0, 1, 1, 4],
 [0, 0, 4, 4, 0],
 [3, 0, 3, 3, 0],
 [2, 0, 3, 2, 0],
 [0, 0, 4, 0, 1],
 [0, 1, 4, 0, 0],
 [2, 0, 3, 2, 0],
 [0, 0, 2, 0, 1],
 [2, 0, 4, 2, 0],
 [0, 0, 0, 1, 0],
 [1, 1, 1, 0, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 1, 1, 1],
 [2, 0, 3, 2, 0],
 [2, 0, 0, 2, 4],
 [0, 0, 1, 0, 0],
 [2, 0, 2, 2, 1],
 [0, 0, 1, 4, 0],
 [2, 0, 0, 2, 1],
 [0, 1, 2, 0, 0],
 [0, 1, 12, 1, 0],
 [0, 1, 3, 0, 0],
 [0, 0, 8, 2, 1],
 [0, 0, 0, 1, 0],
 [0, 0, 1, 1, 0],
 [0, 0, 4, 2, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 1, 0, 0],
 [2, 0, 0, 2, 0],
 [3, 0, 1, 0, 0],
 [0, 0, 6, 0, 0],
 [2, 0, 3, 2, 1],
 [2, 0, 0, 2, 6],
 [2, 6, 0, 2, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 6, 1, 1],
 [0, 0, 2, 1, 3],
 [0, 0, 3, 3, 3],
 [1, 0, 1, 0, 0],
 [0, 0, 16, 1, 3],
 [0, 0, 0, 0, 4],
 [2, 0, 0, 2, 0],
 [1, 0, 0, 3, 1],
 [2, 0, 2, 2, 0],
 [2, 0, 1, 2, 0],
 [2, 0, 3, 2, 6],
 [0, 0, 1, 0, 0],
 [0, 0, 2, 1, 0],
 [2, 0, 5, 2, 6],
 [1, 1, 3, 0, 0],
 [2, 0, 1, 2, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 0, 2, 1],
 [2, 0, 0, 2, 3],
 [0, 0, 6, 0, 0],
 [1, 0, 4, 0, 0],
 [0, 0, 6, 2, 0],
 [2, 0, 0, 2, 0],
 [0, 1, 1, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 2, 0],
 [1, 0, 1, 4, 0],
 [0, 0, 4, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 1, 1, 0, 0],
 [0, 0, 2, 1, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 1, 1, 1],
 [2, 0, 1, 2, 0],
 [1, 0, 1, 0, 0],
 [3, 0, 1, 0, 1],
 [0, 0, 1, 0, 0],
 [1, 0, 0, 2, 0],
 [0, 0, 2, 0, 1],
 [0, 1, 1, 0, 0],
 [1, 0, 1, 3, 0],
 [1, 1, 3, 0, 0],
 [0, 0, 4, 0, 0],
 [0, 0, 1, 4, 0],
 [2, 0, 3, 2, 1],
 [1, 0, 2, 1, 0],
 [0, 0, 1, 0, 1],
 [0, 1, 3, 0, 0],
 [0, 1, 1, 0, 1],
 [0, 0, 1, 5, 0],
 [0, 0, 1, 1, 0],
 [1, 0, 3, 0, 0],
 [2, 0, 6, 2, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 2, 1, 0],
 [0, 1, 1, 0, 1],
 [2, 0, 2, 2, 0],
 [0, 1, 1, 0, 0],
 [0, 0, 3, 2, 0],
 [2, 0, 2, 2, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 7, 4, 0],
 [2, 0, 0, 2, 1],
 [0, 0, 1, 0, 0],
 [0, 0, 3, 0, 5],
 [0, 0, 4, 3, 0],
 [0, 1, 6, 1, 3],
 [0, 0, 0, 1, 0],
 [2, 0, 3, 2, 0],
 [0, 0, 4, 1, 0],
 [0, 0, 2, 1, 3],
 [2, 0, 0, 2, 0],
 [2, 0, 3, 2, 3],
 [0, 4, 3, 1, 6],
 [2, 0, 3, 2, 3],
 [0, 0, 1, 0, 0],
 [2, 0, 1, 2, 0],
 [1, 0, 1, 0, 0],
 [0, 0, 1, 0, 1],
 [0, 0, 3, 5, 3],
 [0, 0, 0, 2, 1],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 0, 0],
 [2, 0, 0, 2, 7],
 [3, 0, 0, 0, 1],
 [0, 0, 6, 0, 0],
 [0, 1, 1, 0, 0],
 [1, 0, 3, 1, 0],
 [2, 0, 0, 2, 1],
 [0, 0, 8, 2, 3],
 [2, 0, 0, 2, 1],
 [0, 0, 4, 0, 0],
 [2, 0, 0, 2, 0],
 [2, 0, 1, 2, 0],
 [0, 5, 3, 0, 6],
 [0, 0, 2, 0, 3],
 [0, 1, 1, 0, 0],
 [0, 1, 1, 0, 5],
 [1, 0, 1, 0, 0],
 [0, 0, 4, 0, 0],
 [1, 0, 1, 4, 1],
 [0, 0, 8, 0, 6],
 [2, 0, 3, 2, 0],
 [0, 0, 1, 0, 1],
 [2, 0, 0, 2, 3],
 [0, 0, 2, 1, 3],
 [0, 0, 0, 2, 1],
 [0, 1, 1, 5, 4],
 [0, 0, 1, 0, 0],
 [0, 1, 3, 1, 3],
 [2, 0, 0, 2, 6],
 [0, 1, 2, 0, 0],
 [0, 0, 4, 0, 0],
 [0, 0, 1, 0, 0],
 [1, 0, 6, 2, 1],
 [0, 0, 0, 1, 0],
 [2, 0, 0, 2, 6],
 [0, 0, 1, 1, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 1, 1, 0],
 [2, 0, 1, 2, 0],
 [2, 0, 0, 2, 0],
 [0, 0, 1, 1, 4],
 [0, 0, 1, 0, 0],
 [1, 5, 3, 0, 6],
 [2, 0, 0, 2, 0],
 [0, 0, 1, 1, 0],
 [2, 0, 6, 2, 0],
 [0, 6, 1, 0, 8],
 [0, 0, 1, 1, 0],
 [2, 0, 3, 2, 3],
 [0, 0, 1, 4, 0],
 [0, 0, 1, 4, 0],
 [1, 0, 1, 0, 1],
 [1, 0, 2, 3, 0],
 [1, 0, 0, 0, 0],
 [0, 0, 9, 0, 0],
 [1, 0, 1, 0, 0],
 [2, 0, 1, 2, 3],
 [0, 1, 1, 3, 0],
 [0, 0, 6, 1, 7],
 [1, 0, 3, 0, 0],
 [0, 1, 3, 1, 0],
 [0, 0, 2, 0, 0],
 [0, 1, 1, 1, 0],
 [3, 0, 6, 0, 1],
 [0, 1, 3, 0, 0],
 [0, 0, 0, 2, 1],
 [0, 0, 4, 4, 0],
 [0, 0, 0, 0, 7],
 [0, 0, 2, 4, 3],
 [1, 1, 1, 4, 0],
 [2, 0, 1, 2, 0],
 [0, 1, 10, 5, 0],
 [0, 6, 3, 1, 4],
 [1, 1, 10, 0, 0],
 [0, 0, 1, 1, 0],
 [0, 0, 4, 0, 0],
 [2, 0, 0, 2, 3],
 [0, 0, 0, 2, 0],
 [0, 0, 2, 4, 7],
 [0, 0, 1, 1, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 4, 0],
 [0, 1, 3, 1, 3],
 [0, 0, 6, 4, 0],
 [2, 0, 3, 2, 0],
 [2, 0, 3, 2, 6],
 [1, 0, 12, 0, 0],
 [1, 0, 4, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 1, 0],
 [1, 0, 14, 1, 3],
 [0, 0, 0, 1, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 4, 0, 0],
 [0, 0, 4, 0, 0],
 [1, 0, 4, 0, 0],
 [0, 0, 0, 1, 1],
 [2, 0, 0, 2, 0],
 [0, 0, 2, 0, 0],
 [1, 0, 0, 0, 3],
 [0, 0, 1, 0, 0],
 [0, 0, 4, 0, 0],
 [2, 0, 1, 2, 4],
 [0, 14, 9, 0, 0],
 [0, 0, 2, 3, 0],
 [0, 1, 1, 0, 0],
 [1, 0, 3, 1, 0],
 [2, 0, 3, 2, 0],
 [0, 5, 3, 0, 13],
 [1, 0, 1, 0, 0],
 [2, 0, 4, 2, 0],
 [0, 0, 0, 0, 3],
 [1, 0, 1, 4, 0],
 [0, 0, 0, 0, 7],
 [1, 0, 1, 0, 0],
 [0, 1, 1, 1, 0],
 [0, 1, 3, 1, 0],
 [1, 0, 10, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 15, 0, 0, 6],
 [2, 0, 1, 2, 6],
 [3, 16, 1, 4, 1],
 [0, 0, 0, 2, 0],
 [0, 14, 3, 3, 0],
 [0, 1, 4, 0, 0],
 [0, 0, 6, 4, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 2, 0, 0],
 [0, 0, 3, 0, 0],
 [2, 0, 2, 2, 0],
 [1, 0, 2, 0, 0],
 [0, 0, 3, 4, 0],
 [2, 0, 2, 2, 0],
 [2, 0, 1, 2, 7],
 [0, 0, 8, 2, 1],
 [0, 1, 4, 0, 0],
 [0, 0, 3, 2, 0],
 [0, 0, 9, 0, 0],
 [0, 0, 3, 0, 0],
 [0, 1, 2, 5, 12],
 [2, 0, 3, 2, 0],
 [0, 0, 0, 4, 0],
 [2, 0, 0, 2, 0],
 [2, 0, 1, 2, 3],
 [0, 1, 1, 1, 0],
 [2, 0, 0, 2, 0],
 [2, 0, 0, 2, 3],
 [0, 0, 2, 4, 0],
 [0, 0, 3, 4, 0],
 [0, 1, 1, 0, 5],
 [1, 1, 1, 0, 0],
 [1, 0, 2, 0, 0],
 [1, 0, 1, 5, 0],
 [1, 0, 3, 4, 0],
 [3, 0, 1, 4, 1],
 [0, 1, 3, 1, 3],
 [2, 0, 0, 2, 0],
 [0, 0, 2, 0, 1],
 [1, 1, 1, 0, 0],
 [0, 1, 3, 0, 5],
 [0, 0, 0, 0, 0],
 [0, 1, 6, 0, 3],
 [0, 1, 2, 0, 3],
 [0, 7, 3, 0, 0],
 [0, 0, 0, 1, 0],
 [2, 0, 0, 2, 3],
 [0, 0, 0, 0, 0],
 [2, 0, 0, 2, 0],
 [0, 0, 2, 1, 3],
 [0, 0, 3, 2, 0],
 [0, 0, 8, 4, 0],
 [0, 0, 0, 1, 0],
 [0, 6, 3, 0, 4],
 [0, 0, 1, 4, 0],
 [0, 0, 1, 0, 0],
 [2, 0, 2, 2, 0],
 [1, 0, 1, 0, 1],
 [0, 1, 1, 1, 0],
 [3, 0, 1, 0, 1],
 [1, 0, 4, 0, 0],
 [0, 0, 6, 0, 1],
 [1, 0, 1, 0, 0],
 [0, 0, 8, 2, 1],
 [2, 0, 1, 2, 0],
 [0, 7, 15, 1, 0],
 [0, 1, 0, 1, 6],
 [2, 0, 0, 2, 0],
 [0, 7, 4, 3, 0],
 [0, 0, 6, 1, 0],
 [0, 1, 0, 1, 0],
 [0, 8, 1, 4, 3],
 [0, 3, 1, 0, 0],
 [0, 0, 0, 1, 0],
 [0, 1, 2, 4, 0],
 [0, 0, 1, 1, 1],
 [0, 1, 3, 0, 0],
 [1, 1, 3, 1, 0],
 [2, 0, 3, 2, 3],
 [0, 0, 0, 2, 1],
 [0, 0, 2, 1, 3],
 [0, 0, 1, 0, 7],
 [2, 0, 3, 2, 4],
 [1, 0, 3, 3, 0],
 [0, 0, 2, 1, 1],
 [0, 1, 3, 1, 3],
 [0, 0, 0, 2, 1],
 [1, 0, 1, 4, 1],
 [1, 0, 6, 4, 0],
 [0, 0, 1, 4, 0],
 [0, 0, 4, 3, 0],
 [1, 1, 3, 4, 0],
 [0, 0, 0, 1, 0],
 [1, 0, 0, 0, 0],
 [0, 6, 1, 0, 4],
 [0, 1, 5, 0, 9],
 [1, 0, 1, 1, 0],
 [2, 0, 1, 2, 0],
 [2, 0, 0, 2, 0],
 [0, 1, 3, 4, 0],
 [2, 0, 0, 2, 0],
 [1, 0, 2, 4, 1],
 [2, 0, 0, 2, 0],
 [2, 0, 3, 2, 0],
 [0, 0, 0, 0, 0],
 [0, 9, 2, 1, 3],
 [0, 0, 1, 3, 0],
 [2, 0, 3, 2, 3],
 [0, 0, 2, 4, 3],
 [0, 0, 1, 4, 0],
 [0, 6, 1, 0, 4],
 [0, 0, 1, 4, 3],
 [1, 0, 10, 4, 0],
 [1, 0, 9, 0, 0],
 [2, 0, 11, 2, 7],
 [1, 0, 0, 0, 1],
 [0, 0, 8, 2, 3],
 [0, 0, 1, 5, 0],
 [0, 10, 4, 1, 0],
 [0, 0, 1, 0, 0],
 [2, 0, 3, 2, 0],
 [0, 0, 6, 1, 0],
 [0, 1, 3, 0, 0],
 [2, 0, 1, 2, 0],
 [0, 2, 5, 0, 1],
 [0, 0, 2, 0, 0],
 [0, 3, 1, 0, 2],
 [0, 0, 0, 4, 0],
 [2, 0, 2, 2, 3],
 [0, 0, 0, 0, 1],
 [0, 0, 4, 0, 0],
 [0, 1, 1, 1, 4],
 [0, 0, 1, 1, 0],
 [0, 0, 3, 4, 0],
 [1, 0, 1, 0, 0],
 [0, 0, 4, 0, 0],
 [0, 0, 0, 0, 1],
 [0, 0, 3, 3, 0],
 [1, 1, 3, 0, 0],
 [2, 0, 3, 2, 3],
 [0, 0, 2, 0, 3],
 [0, 0, 12, 4, 0],
 [0, 0, 6, 0, 1],
 [0, 0, 1, 0, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 12, 0, 0],
 [0, 12, 1, 4, 0],
 [0, 1, 4, 4, 0],
 [2, 0, 1, 2, 0],
 [1, 0, 0, 6, 1],
 [2, 0, 1, 2, 0],
 [0, 0, 1, 0, 5],
 [0, 0, 4, 0, 0],
 [3, 0, 1, 0, 1],
 [2, 0, 3, 2, 0],
 [0, 0, 1, 1, 0],
 [0, 7, 4, 0, 0],
 [0, 0, 1, 4, 0],
 [1, 0, 10, 0, 0],
 [0, 1, 0, 1, 12],
 [0, 0, 6, 0, 1],
 [0, 0, 13, 4, 0],
 [0, 0, 1, 0, 1],
 [2, 0, 0, 2, 3],
 [0, 1, 1, 0, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 1, 0],
 [0, 1, 1, 0, 0],
 [0, 0, 1, 2, 0],
 [0, 0, 1, 0, 0],
 [1, 0, 1, 4, 1],
 [0, 1, 2, 3, 0],
 [2, 0, 1, 2, 4],
 [1, 0, 3, 0, 3],
 [0, 0, 8, 2, 1],
 [0, 0, 1, 0, 0],
 [0, 0, 2, 0, 6],
 [0, 13, 0, 0, 3],
 [3, 0, 0, 0, 0],
 [1, 0, 1, 0, 0],
 [0, 1, 1, 1, 7],
 [0, 0, 1, 3, 1],
 [0, 6, 1, 3, 17],
 [0, 1, 1, 0, 0],
 [1, 1, 1, 4, 0],
 [0, 0, 6, 1, 1],
 [0, 0, 0, 2, 7],
 [0, 0, 4, 0, 0],
 [0, 0, 1, 0, 0],
 [2, 0, 0, 2, 7],
 [1, 0, 4, 4, 1],
 [0, 0, 1, 4, 0],
 [2, 0, 0, 2, 0],
 [0, 1, 1, 0, 3],
 [0, 0, 2, 0, 0],
 [2, 0, 3, 2, 5],
 [0, 0, 4, 0, 0],
 [0, 0, 3, 0, 0],
 [0, 13, 17, 1, 3],
 [0, 0, 2, 4, 1],
 [0, 0, 1, 0, 0],
 [0, 1, 1, 5, 0],
 [2, 0, 0, 2, 6],
 [1, 0, 3, 1, 0],
 [2, 0, 4, 2, 0],
 [0, 7, 3, 4, 0],
 [2, 0, 0, 2, 1],
 [0, 0, 1, 0, 1],
 [0, 0, 1, 5, 3],
 [0, 0, 1, 0, 4],
 [2, 0, 18, 2, 6],
 [0, 1, 2, 0, 0],
 [0, 0, 4, 0, 0],
 [0, 0, 0, 1, 1],
 [2, 0, 1, 2, 0],
 [3, 0, 1, 1, 1],
 [3, 1, 1, 0, 0],
 [0, 7, 6, 0, 0],
 [2, 0, 3, 2, 3],
 [2, 0, 3, 2, 0],
 [1, 0, 1, 0, 7],
 [0, 0, 6, 0, 1],
 [0, 0, 2, 1, 0],
 [0, 1, 3, 1, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 4, 0, 0],
 [2, 0, 4, 2, 0],
 [0, 1, 6, 0, 0],
 [2, 0, 0, 2, 0],
 [1, 0, 1, 0, 0],
 [0, 0, 12, 4, 0],
 [0, 0, 1, 4, 1],
 [2, 0, 0, 2, 1],
 [0, 0, 0, 2, 0],
 [2, 0, 0, 2, 6],
 [2, 0, 0, 2, 6],
 [0, 1, 2, 0, 0],
 [2, 0, 0, 2, 0],
 [0, 0, 0, 1, 0],
 [0, 1, 1, 1, 0],
 [3, 0, 8, 2, 1],
 [3, 11, 0, 4, 10],
 [2, 0, 3, 2, 0],
 [2, 0, 3, 2, 0],
 [0, 0, 2, 0, 0],
 [1, 1, 4, 0, 0],
 [0, 0, 1, 4, 0],
 [0, 1, 1, 4, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 4, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 6, 0],
 [0, 1, 4, 4, 11],
 [0, 0, 10, 1, 0],
 [0, 0, 1, 1, 1],
 [0, 0, 6, 1, 1],
 [3, 0, 2, 0, 1],
 [1, 0, 3, 0, 0],
 [0, 0, 4, 4, 0],
 [0, 1, 2, 0, 0],
 [0, 0, 0, 1, 1],
 [0, 1, 1, 0, 0],
 [2, 0, 2, 2, 0],
 [1, 0, 1, 0, 0],
 [0, 0, 10, 0, 1],
 [0, 0, 1, 0, 0],
 [0, 1, 2, 1, 3],
 [0, 1, 0, 3, 0],
 [2, 0, 4, 2, 0],
 [2, 0, 0, 2, 4],
 [0, 0, 1, 1, 0],
 [0, 0, 3, 0, 0],
 [0, 0, 4, 4, 1],
 [2, 0, 6, 2, 3],
 [0, 1, 6, 0, 15],
 [0, 0, 8, 2, 1],
 [2, 0, 3, 2, 3],
 [3, 0, 4, 4, 1],
 [2, 0, 0, 1, 1],
 [0, 1, 3, 4, 0],
 [2, 0, 3, 2, 0],
 [3, 0, 1, 0, 1],
 [2, 0, 1, 2, 0],
 [0, 0, 4, 0, 1],
 [1, 0, 0, 0, 0],
 [0, 0, 2, 0, 0],
 [0, 0, 0, 0, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 1, 0, 1],
 [0, 0, 1, 0, 0],
 [0, 0, 1, 4, 0],
 [0, 0, 6, 2, 0],
 [0, 0, 3, 1, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 2, 1, 0],
 [0, 0, 2, 4, 0],
 [1, 0, 2, 1, 0],
 [2, 0, 0, 2, 0],
 [0, 1, 1, 1, 0],
 [0, 1, 1, 0, 0],
 [3, 0, 0, 0, 1],
 [0, 0, 4, 4, 0],
 [0, 1, 2, 4, 0],
 [2, 0, 10, 2, 0],
 [0, 0, 1, 1, 0],
 [3, 0, 0, 4, 1],
 [0, 19, 1, 1, 0],
 [0, 0, 1, 3, 0],
 [2, 0, 0, 2, 0],
 [0, 0, 8, 1, 0],
 [0, 0, 0, 0, 0],
 [2, 0, 0, 2, 6],
 [0, 0, 4, 4, 0],
 [0, 0, 3, 0, 0],
 [0, 0, 0, 2, 1],
 [2, 0, 1, 2, 0],
 [0, 0, 0, 4, 1],
 [0, 0, 0, 2, 0],
 [0, 1, 1, 3, 16],
 [0, 0, 2, 4, 0],
 [0, 0, 2, 1, 1],
 [2, 0, 3, 2, 0],
 [2, 0, 0, 2, 0],
 [0, 0, 1, 0, 1],
 [0, 0, 1, 4, 1],
 [0, 0, 3, 1, 0],
 [0, 0, 1, 1, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 3, 2, 7],
 [2, 0, 0, 2, 1],
 [0, 0, 1, 0, 0],
 [0, 0, 3, 1, 0],
 [2, 0, 1, 2, 0],
 [0, 10, 1, 4, 3],
 [2, 0, 6, 2, 0],
 [0, 0, 6, 0, 0],
 [1, 6, 1, 1, 0],
 [0, 1, 3, 1, 3],
 [3, 0, 2, 0, 1],
 [0, 1, 3, 0, 0],
 [0, 0, 3, 4, 3],
 [0, 0, 4, 0, 0],
 [0, 0, 2, 0, 1],
 [0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 2, 0],
 [0, 0, 0, 0, 1],
 [0, 0, 1, 0, 0],
 [0, 0, 4, 0, 0],
 [2, 0, 3, 2, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 1, 0, 0],
 [0, 1, 3, 0, 3],
 [0, 0, 1, 4, 0],
 [2, 0, 3, 2, 6],
 [1, 0, 1, 0, 0],
 [0, 1, 1, 0, 0],
 [0, 17, 3, 1, 6],
 [0, 1, 1, 0, 1],
 [2, 0, 6, 2, 0],
 [0, 0, 2, 2, 0],
 [0, 0, 6, 0, 1],
 [2, 0, 0, 2, 0],
 [2, 0, 0, 2, 1],
 [0, 0, 0, 0, 1],
 [1, 0, 2, 1, 1],
 [0, 0, 1, 1, 0],
 [2, 0, 2, 2, 0],
 [0, 0, 1, 1, 0],
 [0, 0, 8, 2, 4],
 [0, 0, 2, 0, 0],
 [0, 1, 4, 0, 0],
 [0, 0, 2, 4, 0],
 [2, 0, 2, 2, 0],
 [1, 0, 4, 4, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 2, 0, 0],
 [0, 0, 3, 1, 0],
 [0, 0, 1, 0, 1],
 [0, 1, 1, 1, 4],
 [0, 0, 1, 1, 0],
 [0, 1, 1, 0, 0],
 [0, 7, 4, 0, 0],
 [2, 0, 0, 2, 3],
 [2, 0, 4, 2, 0],
 [0, 0, 10, 0, 7],
 [0, 0, 3, 0, 0],
 [0, 0, 1, 0, 1],
 [2, 0, 1, 2, 0],
 [0, 0, 1, 4, 0],
 [0, 1, 1, 1, 0],
 [2, 0, 0, 2, 0],
 [1, 0, 0, 0, 1],
 [0, 0, 3, 0, 0],
 [2, 0, 3, 2, 6],
 [0, 0, 3, 0, 6],
 [2, 0, 0, 1, 7],
 [0, 0, 1, 0, 1],
 [0, 0, 1, 4, 0],
 [0, 0, 3, 4, 0],
 [2, 0, 3, 2, 0],
 [2, 0, 0, 2, 1],
 [0, 0, 6, 0, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 1, 1, 1],
 [0, 1, 2, 1, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 2, 1, 0],
 [0, 0, 2, 0, 3],
 [2, 0, 1, 2, 0],
 [0, 3, 0, 3, 4],
 [2, 0, 1, 2, 0],
 [2, 0, 0, 2, 7],
 [2, 0, 1, 2, 0],
 [2, 0, 0, 2, 0],
 [0, 0, 0, 2, 1],
 [0, 10, 3, 4, 0],
 [0, 0, 4, 5, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 1, 3, 0],
 [1, 1, 2, 1, 3],
 [0, 0, 1, 0, 1],
 [0, 0, 0, 1, 3],
 [2, 0, 0, 2, 0],
 [0, 0, 8, 2, 0],
 [2, 0, 0, 2, 1],
 [0, 0, 0, 2, 0],
 [0, 1, 1, 0, 0],
 [0, 0, 1, 0, 1],
 [0, 0, 2, 3, 0],
 [0, 0, 4, 4, 0],
 [2, 0, 0, 2, 0],
 [1, 0, 1, 1, 1],
 [2, 1, 3, 1, 3],
 [0, 1, 3, 3, 0],
 [0, 0, 1, 0, 1],
 [1, 0, 3, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [2, 0, 3, 2, 0],
 [2, 0, 1, 2, 0],
 [0, 1, 3, 0, 0],
 [0, 0, 1, 4, 0],
 [0, 0, 1, 5, 0],
 [2, 0, 0, 2, 0],
 [0, 0, 0, 1, 0],
 [0, 1, 4, 4, 0],
 [0, 0, 1, 0, 0],
 [2, 0, 3, 2, 6],
 [0, 0, 1, 0, 0],
 [0, 0, 4, 0, 1],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 2, 7],
 [0, 0, 1, 3, 3],
 [0, 0, 2, 0, 0],
 [2, 0, 0, 2, 1],
 [0, 0, 3, 2, 0],
 [0, 0, 4, 0, 0],
 [0, 0, 3, 1, 0],
 [0, 6, 1, 1, 4],
 [0, 0, 0, 2, 0],
 [1, 0, 1, 0, 1],
 [1, 0, 0, 0, 0],
 [0, 0, 4, 4, 1],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 2, 0, 0],
 [1, 1, 1, 0, 0],
 [0, 6, 1, 0, 4],
 [0, 0, 0, 0, 1],
 [2, 0, 2, 2, 0],
 [0, 0, 1, 1, 1],
 [0, 0, 2, 0, 0],
 [0, 1, 10, 3, 0],
 [0, 6, 1, 0, 4],
 [0, 1, 4, 0, 0],
 [0, 0, 8, 2, 1],
 [2, 0, 0, 2, 0],
 [0, 0, 4, 4, 0],
 [1, 1, 4, 0, 0],
 [1, 1, 4, 0, 0],
 [2, 0, 1, 2, 0],
 [1, 0, 2, 3, 0],
 [0, 1, 1, 4, 0],
 [0, 0, 2, 4, 0],
 [0, 0, 4, 0, 0],
 [0, 13, 6, 1, 1],
 [0, 10, 1, 4, 0],
 [2, 0, 0, 2, 7],
 [0, 0, 1, 1, 0],
 [0, 1, 1, 0, 0],
 [0, 0, 1, 0, 1],
 [0, 0, 1, 4, 0],
 [0, 7, 6, 0, 0],
 [0, 6, 0, 2, 1],
 [0, 0, 4, 0, 0],
 [2, 0, 1, 2, 1],
 [2, 0, 1, 2, 0],
 [2, 0, 0, 2, 0],
 [3, 1, 3, 0, 0],
 [2, 0, 0, 2, 0],
 [2, 0, 2, 2, 0],
 [0, 0, 3, 1, 0],
 [3, 0, 2, 1, 3],
 [0, 0, 1, 0, 0],
 [0, 0, 3, 0, 0],
 [0, 0, 0, 2, 0],
 [2, 0, 0, 2, 7],
 [0, 0, 0, 0, 1],
 [0, 0, 1, 0, 0],
 [2, 0, 0, 2, 0],
 [0, 0, 2, 2, 1],
 [0, 0, 2, 0, 0],
 [2, 0, 4, 2, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 8, 5, 0],
 [2, 0, 3, 2, 0],
 [0, 0, 1, 0, 0],
 [0, 1, 1, 0, 0],
 [1, 0, 4, 4, 0],
 [2, 0, 0, 2, 1],
 [1, 0, 3, 4, 0],
 [0, 0, 0, 1, 3],
 [2, 0, 1, 2, 0],
 [2, 0, 2, 2, 3],
 [2, 0, 2, 2, 0],
 [3, 0, 8, 1, 1],
 [0, 0, 3, 1, 4],
 [3, 0, 1, 2, 1],
 [0, 0, 2, 1, 1],
 [3, 6, 1, 0, 1],
 [0, 0, 2, 0, 0],
 [0, 1, 6, 1, 0],
 [2, 0, 0, 2, 3],
 [0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [2, 0, 3, 2, 1],
 [0, 0, 4, 3, 0],
 [0, 0, 0, 1, 0],
 [1, 0, 2, 0, 3],
 [0, 0, 3, 4, 0],
 [0, 0, 1, 1, 0],
 [0, 6, 3, 1, 4],
 [2, 0, 6, 2, 0],
 [2, 0, 0, 2, 0],
 [1, 0, 6, 1, 0],
 [1, 0, 0, 0, 0],
 [0, 1, 4, 0, 0],
 [1, 7, 6, 3, 7],
 [1, 0, 1, 0, 5],
 [0, 1, 3, 1, 0],
 [2, 0, 2, 2, 3],
 [0, 0, 1, 0, 0],
 [1, 6, 3, 1, 4],
 [2, 0, 0, 2, 6],
 [2, 0, 1, 2, 0],
 [0, 6, 2, 1, 4],
 [1, 0, 1, 4, 0],
 [0, 0, 4, 4, 1],
 [1, 0, 0, 0, 0],
 [2, 0, 1, 2, 0],
 [2, 0, 0, 2, 5],
 [0, 0, 1, 1, 3],
 [2, 0, 0, 2, 0],
 [0, 0, 0, 2, 1],
 [1, 0, 1, 1, 0],
 [2, 0, 0, 2, 1],
 [0, 0, 12, 0, 0],
 [1, 0, 2, 0, 0],
 [2, 0, 10, 2, 0],
 [1, 0, 6, 0, 1],
 [0, 0, 2, 4, 0],
 [1, 0, 3, 0, 0],
 [0, 0, 4, 0, 1],
 [0, 14, 0, 4, 1],
 [0, 0, 6, 2, 1],
 [2, 0, 3, 2, 6],
 [0, 0, 6, 0, 0],
 [0, 0, 2, 4, 0],
 [0, 0, 1, 2, 1],
 [1, 0, 9, 1, 0],
 [2, 0, 1, 2, 0],
 [0, 0, 2, 0, 3],
 [2, 0, 4, 2, 0],
 ...]

In [46]:
## Removing NaNs
## Average, p_ymd 

exams = exams[~(exams['VALUE'].isna())]

In [37]:
print(exams.shape)

(632374, 15)
(632368, 15)

In [38]:
exams_nonan.head(10)

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
9,797,36,165660,241249.0,220224,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,58.0,58.00,mmHg,1.0,0.0,NaN,NaN
10,798,36,165660,241249.0,220235,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,60.0,60.00,mmHg,1.0,0.0,NaN,NaN
11,799,36,165660,241249.0,223830,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,7.29,7.29,units,1.0,0.0,NaN,NaN
54,842,36,165660,241249.0,220224,2134-05-12 15:22:00,2134-05-12 15:24:00,20889.0,70.0,70.00,mmHg,1.0,0.0,NaN,NaN
55,843,36,165660,241249.0,220235,2134-05-12 15:22:00,2134-05-12 15:24:00,20889.0,75.0,75.00,mmHg,1.0,0.0,NaN,NaN
56,844,36,165660,241249.0,223830,2134-05-12 15:22:00,2134-05-12 15:24:00,20889.0,7.22,7.22,units,1.0,0.0,NaN,NaN
208,31,23,124321,234044.0,220228,2157-10-21 14:40:00,2157-10-21 15:06:00,20889.0,13.1,13.10,g/dl,1.0,0.0,NaN,NaN
349,172,23,124321,234044.0,220228,2157-10-22 03:21:00,2157-10-22 04:02:00,20889.0,13.4,13.40,g/dl,1.0,0.0,NaN,NaN
505,720,36,165660,241249.0,220228,2134-05-12 08:33:00,2134-05-12 09:36:00,20889.0,12.7,12.70,g/dl,1.0,0.0,NaN,NaN
602,397,34,144319,290505.0,220228,2191-02-23 10:48:00,2191-02-23 11:12:00,20889.0,11.9,11.90,g/dl,1.0,0.0,NaN,NaN

In [47]:
## only getting yyyy-mm-dd
exams['p_ymd'] = exams['CHARTTIME'].str[:10]

In [40]:
exams['ITEMID'].value_counts()

223830    144429
220224    140229
220235    140215
220228    137117
220227     40009
227471     17199
226063      4314
226062      4312
1673        1844
1658         901
2059         685
993          308
7574         175
6336          98
1495          82
1404          51
1352          36
6417          32
3143          30
6864          26
2779          24
1003          24
3210          24
5667          18
2027          17
2025          16
2005          15
6754          15
2004          14
5786          12
7332          12
6439          12
2057          10
6631          10
941            9
6768           8
7133           6
7128           4
7504           4
7176           3
8301           2
7124           2
6204           2
5898           2
5811           1
5810           1
6540           1
7787           1
5771           1
1686           1
6226           1
7540           1
7541           1
5575           1
1011           1
Name: ITEMID, dtype: int64

In [43]:
ids = exams['ITEMID'].value_counts().reset_index()

In [44]:
ids.loc[ids['ITEMID'] >= 30, 'index'].values

array([223830, 220224, 220235, 220228, 220227, 227471, 226063, 226062,
         1673,   1658,   2059,    993,   7574,   6336,   1495,   1404,
         1352,   6417,   3143])

In [45]:
## Only for 220224
# exams = exams[exams['ITEMID'].isin([220224, 223830, 220235, 220227])]
exams = exams[(exams['ITEMID'].isin([223830, 220224, 220235, 220228, 220227, 227471, 226063, 226062,
        1673,   1658,   2059,    993,   7574,   6336,   1495,   1404,
        1352,   6417,   3143]))]

In [48]:
exams.shape

(632066, 16)

In [49]:
# daily average
exams_avg = exams[['SUBJECT_ID', 'ITEMID', 'p_ymd', 'VALUENUM']].groupby(['SUBJECT_ID', 'ITEMID', 'p_ymd']).mean()

In [50]:
exams_avg = exams_avg.reset_index()

In [51]:
exams_avg.shape

(291722, 4)

In [52]:
with open('./preprocessed/patient_dictionary.pkl', 'rb') as f:
    p_dict = pkl.load(f)

In [53]:
exams_avg.sort_values(by=['SUBJECT_ID', 'ITEMID', 'p_ymd'], ascending=[True, True, True], inplace=True)

In [54]:
exams_avg = exams_avg.reset_index().drop('index', axis=1)

In [55]:
exams_avg.head(10)

   SUBJECT_ID  ITEMID       p_ymd   VALUENUM
0          23  220228  2157-10-21  13.100000
1          23  220228  2157-10-22  13.400000
2          34  220228  2191-02-23  11.900000
3          34  220228  2191-02-24  10.400000
4          36  220224  2134-05-12  70.666667
5          36  220224  2134-05-13  61.000000
6          36  220224  2134-05-14  70.000000
7          36  220224  2134-05-15  65.000000
8          36  220227  2134-05-14  94.000000
9          36  220228  2134-05-12  12.700000

In [56]:
exams_avg['ITEMID'].value_counts().sort_values(ascending=False)

220228    104581
223830     48911
220224     47775
220235     47774
220227     18138
227471     16307
226063      3408
226062      3407
1673         800
1658         209
993          177
2059         137
1404          27
6336          19
1352          15
1495          11
7574          10
6417           9
3143           7
Name: ITEMID, dtype: int64

In [57]:
subjects = pd.DataFrame(exams_avg[['SUBJECT_ID', 'p_ymd']].drop_duplicates(), columns=['SUBJECT_ID', 'p_ymd'])

In [58]:
subjects.reset_index(inplace=True)
subjects.drop('index', axis=1, inplace=True)

In [59]:
subjects.set_index(['SUBJECT_ID', 'p_ymd'], inplace=True)

In [60]:
subjects.head(3)

Empty DataFrame
Columns: []
Index: [(23, 2157-10-21), (23, 2157-10-22), (34, 2191-02-23)]

In [63]:
length_codes = len(exams_avg['ITEMID'].value_counts())

In [176]:
subjects['VALUE_LIST'] = [[0] * length_codes for x in range(len(subjects.index))]

In [177]:
subjects.head(3)

                                                              VALUE_LIST
SUBJECT_ID p_ymd
23         2157-10-21  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
           2157-10-22  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
34         2191-02-23  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

In [66]:
subjects.loc[36, '2134-05-12'][0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [71]:
idx_dict = dict(zip(exams_avg['ITEMID'].value_counts().index, range(length_codes)))

In [72]:
idx_dict

{220228: 0,
 223830: 1,
 220224: 2,
 220235: 3,
 220227: 4,
 227471: 5,
 226063: 6,
 226062: 7,
 1673: 8,
 1658: 9,
 993: 10,
 2059: 11,
 1404: 12,
 6336: 13,
 1352: 14,
 1495: 15,
 7574: 16,
 6417: 17,
 3143: 18}

In [73]:
subjects.head(3)

                                                              VALUE_LIST
SUBJECT_ID p_ymd
23         2157-10-21  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
           2157-10-22  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
34         2191-02-23  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

In [75]:
subjects.loc[23, '2157-10-21'][0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [171]:
sum(exams_avg['VALUENUM'].isna())

2

In [193]:
# exams_avg[(exams_avg['VALUENUM'].isna())]

In [173]:
exams_avg = exams_avg[~(exams_avg['VALUENUM'].isna())]

In [175]:
exams_avg.reset_index(inplace=True)

In [178]:
## SUBJECT_ID, p_ymd 별로, [223830, 220224, 220235, 220227] 순으로 값 저장하기. 없으면? 0으로.
for idx in range(len(exams_avg)):
    now_subject_id = exams_avg['SUBJECT_ID'][idx]
    now_p_ymd = exams_avg['p_ymd'][idx]
    now_code = exams_avg['ITEMID'][idx]
    now_value = exams_avg['VALUENUM'][idx]
    value_idx = idx_dict[now_code]
    subjects.loc[now_subject_id, now_p_ymd][0][value_idx] = now_value

In [179]:
exams_avg.head(3)

   index  SUBJECT_ID  ITEMID       p_ymd  VALUENUM
0      0          23  220228  2157-10-21      13.1
1      1          23  220228  2157-10-22      13.4
2      2          34  220228  2191-02-23      11.9

In [180]:
subjects.loc[23, '2157-10-21'][0]

[13.1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [29]:
# exams_avg_list = exams_avg.groupby(['SUBJECT_ID', 'ITEMID', 'p_ymd'])['VALUENUM'].apply(list).reset_index()
# exams_avg_list.head(3)

   SUBJECT_ID  ITEMID       p_ymd             VALUENUM
0          36  220224  2134-05-12  [70.66666666666667]
1          36  220224  2134-05-13               [61.0]
2          36  220224  2134-05-14               [70.0]

### Get Prescriptions

### Use Only Top400 Drugs & Get Prescription

In [82]:
with open('./preprocessed/top400drugs.pkl', 'rb') as f:
    top400 = pkl.load(f)

In [83]:
pres = pres[pres['FORMULARY_DRUG_CD'].isin(top400)]

In [84]:
drug_dict = dict(zip(top400, list(range(len(top400)))))

In [56]:
# with open('./preprocessed/top400_drug_dictionary.pkl', 'wb') as f:
#     pkl.dump(drug_dict, f)

In [85]:
pres.head(2)

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DRUG_NAME_POE,DRUG_NAME_GENERIC,FORMULARY_DRUG_CD,GSN,NDC,PROD_STRENGTH,DOSE_VAL_RX,DOSE_UNIT_RX,FORM_VAL_DISP,FORM_UNIT_DISP,ROUTE
0,2214776,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Tacrolimus,Tacrolimus,Tacrolimus,TACR1,021796,469061711.0,1mg Capsule,2,mg,2,CAP,PO
1,2214775,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Warfarin,Warfarin,Warfarin,WARF5,006562,56017275.0,5mg Tablet,5,mg,1,TAB,PO

In [86]:
pres['p_ymd'] = pres['STARTDATE'].str[:10]

In [87]:
pres_list = pres.groupby(['SUBJECT_ID', 'p_ymd'])['FORMULARY_DRUG_CD'].apply(list).reset_index()
pres_list.sort_values(by=['SUBJECT_ID', 'p_ymd'], inplace=True)

In [88]:
pres_list.head(3)

   SUBJECT_ID       p_ymd                                  FORMULARY_DRUG_CD
0           2  2138-07-18                        [GENT10I, NEOSYRD5W, AMPVL]
1           4  2191-03-16  [VANCOBASE, GLAR100I, INSULIN, GLAR100I, VANC1...
2           4  2191-03-17     [VANC500I, D5W250, MAGS1I, MICROK10, GLAR100I]

In [89]:
## Multi-hot encoding for FORMULARY_DRUG_CD
# drug_dict = dict(zip(top400, range(len(top400))))

In [89]:
pres_list_encoded = pres_list.copy()
pres_list_encoded['DRUG_CD_ENC'] = [[0] * len(top400) for x in pres_list_encoded.index]

In [90]:
pres_list_encoded.head(3)

,SUBJECT_ID,p_ymd,FORMULARY_DRUG_CD,DRUG_CD_ENC
0,2,2138-07-18,"[GENT10I, NEOSYRD5W, AMPVL]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,4,2191-03-16,"[VANCOBASE, GLAR100I, INSULIN, GLAR100I, VANC1...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,4,2191-03-17,"[VANC500I, D5W250, MAGS1I, MICROK10, GLAR100I]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [91]:
len(pres_list_encoded['DRUG_CD_ENC'][0])

400

In [92]:
for idx in range(len(pres_list_encoded)):
    now_cd_list = pres_list_encoded['FORMULARY_DRUG_CD'][idx]
    for drug in now_cd_list:
        pres_list_encoded['DRUG_CD_ENC'][idx][drug_dict[drug]] = 1

In [93]:
pres_list_encoded.head(3)

,SUBJECT_ID,p_ymd,FORMULARY_DRUG_CD,DRUG_CD_ENC
0,2,2138-07-18,"[GENT10I, NEOSYRD5W, AMPVL]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,4,2191-03-16,"[VANCOBASE, GLAR100I, INSULIN, GLAR100I, VANC1...","[0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, ..."
2,4,2191-03-17,"[VANC500I, D5W250, MAGS1I, MICROK10, GLAR100I]","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [94]:
print(drug_dict['VANCOBASE'])
print(drug_dict['GLAR100I'])
print(drug_dict['INSULIN'])

8
29
2

In [4]:
with open('./preprocessed/top400_drug_dictionary.pkl', 'rb') as f:
    drug_dict = pkl.load(f)

In [5]:
print(drug_dict['INSULIN'])

2

In [6]:
drug_dict

{'FURO40I': 0,
 'NACLFLUSH': 1,
 'INSULIN': 2,
 'D5W250': 3,
 'NS1000': 4,
 'NS500': 5,
 'MAG2PM': 6,
 'VANC1F': 7,
 'VANCOBASE': 8,
 'METO25': 9,
 'HEPA5I': 10,
 'ACET325': 11,
 'NS250': 12,
 'METO5I': 13,
 'KCL20PM': 14,
 'KCLBASE2': 15,
 'MICROK10': 16,
 'NS100': 17,
 'DOCU100': 18,
 'LR1000': 19,
 'KCL20P': 20,
 'HEPBASE': 21,
 'MAGS1I': 22,
 'LORA2I': 23,
 'CALG1I': 24,
 'KCL40I': 25,
 'METO50': 26,
 'MORP2I': 27,
 'SENN187': 28,
 'GLAR100I': 29,
 'PANT40': 30,
 'ALBU3H': 31,
 'BISA10R': 32,
 'SW50': 33,
 'POTA20': 34,
 'PROP100IG': 35,
 'VIAL': 36,
 'HEPPREMIX': 37,
 'FRBD50': 38,
 'PANT40I': 39,
 'D5W100': 40,
 'NS/MBP100I': 41,
 'DEX50SY': 42,
 'PERC': 43,
 'BAG50': 44,
 'ONDAN4I': 45,
 'INNHI': 46,
 'HYDZ20I': 47,
 'CALCG2/100NS': 48,
 'DOCU100L': 49,
 'IPRA2H': 50,
 'NEUT': 51,
 'NS100CG': 52,
 'AMIO150I': 53,
 'KPHO45I': 54,
 'D5W1000': 55,
 'FENT2I': 56,
 'PHEN10I': 57,
 'HALD5I': 58,
 'D545NS1000': 59,
 'HYDR2I': 60,
 'BISA5': 61,
 'FURO100I': 62,
 'D5W50': 63,
 'OXYC5': 64,
 'ASA81': 65,
 'RANI150': 66,
 'INHRIV': 67,
 'HEPA100SYR': 68,
 'NABC50I': 69,
 'MOM30L': 70,
 'METO10I': 71,
 'WARF5': 72,
 'ACET650R': 73,
 'LORA5': 74,
 'D5W500': 75,
 'HEPAPREMIX': 76,
 'ASA325': 77,
 'FURO20': 78,
 'CHLO15L': 79,
 'NTGBASE': 80,
 'ASA81EC': 81,
 'HYDR1SYR': 82,
 'NS451000': 83,
 'GLUC1I': 84,
 'METR500PM': 85,
 'METRBASE': 86,
 'LACT30L': 87,
 'HEPA10SYR': 88,
 'AMID200': 89,
 'ISONACL': 90,
 'FAMO20PM': 91,
 'PROP200IG': 92,
 'MIDA2I': 93,
 'PNEU25I': 94,
 'LEVO4I': 95,
 'HYDR2': 96,
 'MORP4I': 97,
 'SYR60ML': 98,
 'CLOP75': 99,
 'NS50': 100,
 'FURO40': 101,
 'VANC500I': 102,
 'FRBD100': 103,
 'AMBI5': 104,
 'ALBU17H': 105,
 'PRED20': 106,
 'DILT500I': 107,
 'D5W250E': 108,
 'KCL10PM': 109,
 'KCLBASE': 110,
 'KCL20/1000D51/2NS': 111,
 'ACET650L': 112,
 'PEPC20': 113,
 'ALBU25': 114,
 'ZOSY4FPB': 115,
 'MVI': 116,
 'WARF1': 117,
 'WARF2': 118,
 'CALC500': 119,
 'CAPT125': 120,
 'FENT2.5I': 121,
 'MAGN400': 122,
 'LORA1': 123,
 'LISI5': 124,
 'MIDA50I': 125,
 'AMLO5': 126,
 'FOLI1': 127,
 'APAP500': 128,
 'LABE100I': 129,
 'CEFA10I': 130,
 'TRAZ50': 131,
 'KCL20I': 132,
 'CEFE2I': 133,
 'ASAEC325': 134,
 'NTG100PM': 135,
 'HYD12.5PCA': 136,
 'NEOSI': 137,
 'DIPH50I': 138,
 'DIPH25': 139,
 'KETO15I': 140,
 'ZOSY2.25I': 141,
 'METR500': 142,
 'IPRAPF': 143,
 'ACET20/4I': 144,
 'HC100I': 145,
 'MORP5I': 146,
 'MEPE50I': 147,
 'CEFX1F': 148,
 'RANI150L': 149,
 'D5W150': 150,
 'CIPROBASE': 151,
 'LISI20': 152,
 'INRHI': 153,
 'INFL0.5LF': 154,
 'CEFA1F': 155,
 'TACR1': 156,
 'CIPR400PM': 157,
 'LEV500': 158,
 'CARA1': 159,
 'OMEP20': 160,
 'WARF25': 161,
 'CIPR500': 162,
 'ATOR10': 163,
 'FENTSOLN50': 164,
 'DILA100': 165,
 'NAPH15I': 166,
 'SYRG1': 167,
 'PHYT10I': 168,
 'HUMU100I': 169,
 'NACL4I': 170,
 'NTG100PB': 171,
 'LISI10': 172,
 'MICO2P': 173,
 'NITP50I': 174,
 'COMB14.7H': 175,
 'SIMV40': 176,
 'TRAM50': 177,
 'FERR325': 178,
 'SIMV10': 179,
 'OLAN5DTB': 180,
 'PHEN12SYR': 181,
 'NEOSYRD5W': 182,
 'PHYT5': 183,
 'KAYE15L': 184,
 'LEV250': 185,
 'THIA100': 186,
 'NITR20SYR': 187,
 'NABC50S': 188,
 'MORP100PM': 189,
 'D10W250I': 190,
 'GABA300': 191,
 'NYST5L': 192,
 'ALBU5500': 193,
 'INFV': 194,
 'VASO20I': 195,
 'PRED10': 196,
 'ATOR80': 197,
 'DOLA12.5I': 198,
 'GLYC1I': 199,
 'LID2J': 200,
 'LEVOBASE2': 201,
 'LEVO500PM': 202,
 'KCL20/1000NS': 203,
 'MORPD5W': 204,
 'MERO500I': 205,
 'LEVE500': 206,
 'PHEN100IVPB': 207,
 'DILT30': 208,
 'NS100G': 209,
 'ERGO400T': 210,
 'ALBU5250': 211,
 'WARF0': 212,
 'ATRO1I': 213,
 'MANNBASE': 214,
 'DEXA4I': 215,
 'THIAM100I': 216,
 'GLYC17': 217,
 'CITA20': 218,
 'DIAZ10I': 219,
 'PHEN100I': 220,
 'MVI10I': 221,
 'GENT10I': 222,
 'HYDM4': 223,
 'ATOR40': 224,
 'ATOR20': 225,
 'CAPT25': 226,
 'METH40I': 227,
 'DIGO125': 228,
 'GLYCO4I': 229,
 'PHEN250I': 230,
 'DIAZ5': 231,
 'QUET25': 232,
 'DOPABASE': 233,
 'IBUP400': 234,
 'PRED5': 235,
 'HEPAR10I': 236,
 'COMP10I': 237,
 'ALTE1I': 238,
 'HCTZ25': 239,
 'MANN100I': 240,
 'LANS30ST': 241,
 'METH125I': 242,
 'LEVE500I': 243,
 'AMPVL': 244,
 'COSY25I': 245,
 'DEXM200I': 246,
 'MILR20PM': 247,
 'MILRBASE': 248,
 'D5NS1000': 249,
 'ZITHR250': 250,
 'D5W25': 251,
 'METO10': 252,
 'MORP50PCA': 253,
 'FURO20I': 254,
 'FLUC200': 255,
 'LANS30L': 256,
 'FENT2.550': 257,
 'HYDZ25': 258,
 'PROP500IG': 259,
 'MORPIM': 260,
 'EPI1I': 261,
 'NEOFER': 262,
 'TAMS.4': 263,
 'SIME80': 264,
 'LEVO250PM': 265,
 'LEVOBASE': 266,
 'NTG3SL': 267,
 'BACTDS': 268,
 'SPIR25': 269,
 'PHENY100L': 270,
 'IN73HI': 271,
 'ACET1000I': 272,
 'ACE500I': 273,
 'LABE200': 274,
 'ATEN25': 275,
 'LEVO750PM': 276,
 'LEVOBASE3': 277,
 'FURO100PB': 278,
 'FLUT110HFA': 279,
 'SARNL': 280,
 'MERO1I': 281,
 'PROAIR8.5H': 282,
 'TOPR25': 283,
 'GUAI10': 284,
 'LIDO5T': 285,
 'CISA200I': 286,
 'ROXIOS': 287,
 'KETR30I': 288,
 'HEP10I': 289,
 'UNAS3I': 290,
 'SODI65S': 291,
 'ADVA250IH': 292,
 'MIDA100': 293,
 'TACRSUSP': 294,
 'METF500': 295,
 'FURO80': 296,
 'HYDZ10': 297,
 'CALC667': 298,
 'DIAZ10': 299,
 'FENT50I': 300,
 'PRISMAB32K25000': 301,
 'NEOSYRSL': 302,
 'MPREDSYR': 303,
 'NS250G': 304,
 'ZOSY4.5I': 305,
 'SCOP15P': 306,
 'NAMP500I': 307,
 'TOPR50': 308,
 'CEPACOL1': 309,
 'GENTBASE1': 310,
 'CEFX2F': 311,
 'MYCO500T': 312,
 'IBUP600': 313,
 'ACY500I': 314,
 'DIGO.5I': 315,
 'ATEN50': 316,
 'ASCO500': 317,
 'CATA1': 318,
 'ALLO100': 319,
 'D5W500E': 320,
 'REFRESH': 321,
 'BUPI5I': 322,
 'PROM25I': 323,
 'DEXA2': 324,
 'LOPE2': 325,
 'SOLN2': 326,
 'DEXA10I': 327,
 'CLON5': 328,
 'SW100MLG': 329,
 'CAFFCIT60I': 330,
 'DEXA4': 331,
 'IMDU30': 332,
 'CARV125': 333,
 'PROC10': 334,
 'INTE75I': 335,
 'NEOSYR': 336,
 'NEPH1': 337,
 'MIDAZBASE': 338,
 'GOLY4L': 339,
 'TOPR100': 340,
 'CIPR250': 341,
 'DILT60': 342,
 'MORP1-5': 343,
 'VICODIN': 344,
 'LEVO100': 345,
 'NORE8/250': 346,
 '5000MLBAG': 347,
 'MAAL148': 348,
 'MAAL30L': 349,
 'BAG': 350,
 'LEVO200I': 351,
 'CEFE1I': 352,
 'NESI1.5I': 353,
 'METD10': 354,
 'OXYCO5L': 355,
 'LEVO50': 356,
 'DOPA400D': 357,
 'DOPA400PM': 358,
 'CARV3125': 359,
 'PRISMAB22K45000': 360,
 'TIOT': 361,
 'NOREBASE': 362,
 'LINEBASE': 363,
 'LINE600I': 364,
 'ARTI3.5O': 365,
 'FLUCBASE': 366,
 'FLU200PM': 367,
 'MIDO5': 368,
 'HYDRSYR': 369,
 'BACTSS': 370,
 'SERT50': 371,
 'LEVO75': 372,
 'NICO14P': 373,
 'ASA300R': 374,
 'FOLI1I': 375,
 'FOLI5I': 376,
 'MORP2-4': 377,
 'LABE100': 378,
 'HALO1': 379,
 'SODCIT3SYR': 380,
 'LEVO25': 381,
 'PRAV20': 382,
 'SENN5L': 383,
 'TACR0.5': 384,
 'METL5': 385,
 'CAFCIT': 386,
 'NICA2.5I': 387,
 'SYRINGENS': 388,
 'HYDR20/100NS': 389,
 'MIRT15': 390,
 'MORP15': 391,
 'ALPR25': 392,
 'AMP2I': 393,
 'NEOR100': 394,
 'GABA100': 395,
 'CLON1': 396,
 'VECU10I': 397,
 'MULT5L': 398,
 'OXYC10': 399}

In [95]:
subjects.head(3)

                                                              VALUE_LIST
SUBJECT_ID p_ymd
23         2157-10-21  [13.1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
           2157-10-22  [13.4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
34         2191-02-23  [11.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

In [181]:
tot = pd.merge(pres_list_encoded, subjects, on=['SUBJECT_ID', 'p_ymd'], how='left')

In [182]:
tot.shape

(446975, 5)

In [183]:
sum(tot['VALUE_LIST'].isna())

341874

In [184]:
tot[(tot['VALUE_LIST'].isna())]

,SUBJECT_ID,p_ymd,FORMULARY_DRUG_CD,DRUG_CD_ENC,VALUE_LIST
0,2,2138-07-18,"[GENT10I, NEOSYRD5W, AMPVL]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN
1,4,2191-03-16,"[VANCOBASE, GLAR100I, INSULIN, GLAR100I, VANC1...","[0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, ...",NaN
2,4,2191-03-17,"[VANC500I, D5W250, MAGS1I, MICROK10, GLAR100I]","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN
3,4,2191-03-18,"[MICROK10, VANC500I, D5W250]","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN
4,4,2191-03-19,"[GLAR100I, CLON5, INSULIN, CLON5]","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN
...,...,...,...,...,...
446969,99995,2147-02-11,"[LISI10, CIPR250, CIPR250]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN
446970,99999,2117-12-30,"[NS451000, ATEN50, HYD12.5PCA, METF500, INSULI...","[0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...",NaN
446971,99999,2117-12-31,"[NS500, NS250, CALCG2/100NS, CALCG2/100NS, CAL...","[0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, ...",NaN
446973,99999,2118-01-02,"[INSULIN, METF500, LORA5]","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN
446974,99999,2118-01-03,"[DOCU100, SENN187, GABA300]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN

In [111]:
#### OUTDATED - Including NaN values for examinations ####
# len_na = sum(tot['VALUE_LIST'].isna())
# print(len_na)
# def f(l):
#     return [0] * length_codes
# tot.loc[(tot['VALUE_LIST'].isna()), 'VALUE_LIST'] = tot['VALUE_LIST'].fillna(0).apply(f)

# print(tot.shape)
# tot.sort_values(by=['SUBJECT_ID', 'p_ymd'], inplace=True)
# l1 = tot.groupby(['SUBJECT_ID'])['DRUG_CD_ENC'].apply(list).reset_index()
# l2 = tot.groupby(['SUBJECT_ID'])['VALUE_LIST'].apply(list).reset_index()

341874

In [185]:
## Only that Prescription and Examination both exists
tobesaved = tot[~(tot['VALUE_LIST'].isna())]
tobesaved.head(3)
tobesaved.shape
tobesaved.sort_values(by=['SUBJECT_ID', 'p_ymd'], inplace=True)
l1 = tobesaved.groupby(['SUBJECT_ID'])['DRUG_CD_ENC'].apply(list).reset_index()
l2 = tobesaved.groupby(['SUBJECT_ID'])['VALUE_LIST'].apply(list).reset_index()

/usr/local/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [186]:
l1

       SUBJECT_ID                                        DRUG_CD_ENC
0              23  [[0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0,...
1              34  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
2              36  [[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,...
3              85  [[0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,...
4             107  [[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,...
...           ...                                                ...
19427       99985  [[0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,...
19428       99991  [[0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0,...
19429       99992  [[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
19430       99995  [[0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1,...
19431       99999  [[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,...

[19432 rows x 2 columns]

In [187]:
fin = pd.concat([l1, l2['VALUE_LIST']], axis=1)

In [188]:
fin.head(3)

,SUBJECT_ID,DRUG_CD_ENC,VALUE_LIST
0,23,"[[0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0,...","[[13.1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
1,34,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[11.9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
2,36,"[[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,...","[[12.7, 7.29, 70.66666666666667, 61.6666666666..."

In [189]:
## Examination, Prescription
x_per = [[] for x in p_dict] # one list per patient
x_d = [[] for x in p_dict] # one list per visit

for idx in range(len(fin)):
    x_per[p_dict[fin['SUBJECT_ID'][idx]]] = fin['VALUE_LIST'][idx]
    x_d[p_dict[fin['SUBJECT_ID'][idx]]] = fin['DRUG_CD_ENC'][idx]

In [190]:
p_dict[249]

0

In [191]:
fin[fin['SUBJECT_ID'] == 249]

,SUBJECT_ID,DRUG_CD_ENC,VALUE_LIST
18,249,"[[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,...","[[9.8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [168]:
# with open('./preprocessed/x_per.pkl', 'wb') as f:
#     pkl.dump(x_per, f)

# with open('./preprocessed/x_d.pkl', 'wb') as f:
#     pkl.dump(x_d, f)

with open('./preprocessed/x_per_added.pkl', 'wb') as f:
    pkl.dump(x_per, f)

with open('./preprocessed/x_d_added.pkl', 'wb') as f:
    pkl.dump(x_d, f)